<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="3.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://adminxjt.xjx.vizhuo.cn/mobile/appVersion/downloadNewAppAction.do?type=81</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://adminxjt.xjx.vizhuo.cn/app/png/ios_proprietor_appset.png</string>
               </dict>
      		   <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://adminxjt.xjx.vizhuo.cn/app/png/ios_proprietor_appset.png</string>
               </dict>
           </array>
           <key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.vizhuo.caiyingdierdai</string>
               <key>bundle-version</key>
               <string>1.0.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>小桔箱App</string>
               <key>title</key>
               <string>小桔箱App</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
